.calc{
    width: 400px;
    height: 500px;
    background: gray;
    margin-left: 400px;
}
#screen{
    width: 80%;
    height: 40px;
    margin-top: 36px;
    margin-left: 37px;
    pointer-events: none;
}
.btn{
    width: 57px;
    height: 46px;
    margin-left: 21px;
    margin-top: 19px;
    background: bisque;
}